.advangates__item {
  margin: 33px 41px;
  padding: 0;
  background-color: @bg-advangates;
}

.advangates__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.advangates__number,
.advangates__description {
  line-height: 21px;
}

.advangates__list li:nth-child(1),
.advangates__list li:nth-child(2) {
  background-color: @bg-navigation;
  & .advangates__title,
  & .advangates__number,
  & .advangates__description {
    color: #ffffff;
  }
}

.advangates__list:nth-child(1) {
  margin-top: 43px;
  margin-right: 27px;
  margin-bottom: 45px;
  margin-left: 28px;
}

.advangates__list:nth-child(2) {
  margin-top: 45px;
  margin-right: 31px;
  margin-bottom: 42px;
  margin-left: 30px;
}

.advangates__list:nth-child(4) {
  margin-right: 56px;
  margin-left: 57px;
}

.advangates__list:nth-child(5) {
  margin-right: 37px;
  margin-left: 37px;
}



