.advangates__item {
  background-color: @bg-advangates;
}

.advangates__title {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

.advangates__number,
.advangates__description {
  line-height: 21px;
}

.advangates__list {
  .reset-list();
 }

.advangates__list li:nth-child(1),
.advangates__list li:nth-child(2) {
  background-color: @bg-navigation;
  .advangates__title,
  .advangates__number,
  .advangates__description {
    color: #ffffff;
  }
}


