.feedback__header {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.feedback__input {
  padding: 22px;
  background-color: #f2f2f2;
  border: none;
}

.selectors {
  .feedback-style();
}

.selectors::-webkit-input-placeholder {
  .feedback-style();
}
.selectors::-moz-placeholder {
  .feedback-style();
}
.selectors:-moz-placeholder {
  .feedback-style();
}
.selectors:-ms-input-placeholder {
  .feedback-style();
}

.feedback__radio {
  .reset-list();
}
.feedback__checklist {
  .reset-list();
}
