.main-nav {
  position: relative;
  padding-bottom: 56px;

  @media @tablet {
    padding-bottom: 0;
  }
}

.main-nav__logo {
  position: absolute;
  z-index: 10;
  left: 50%;
  bottom: -28px;
  transform: translateX(-50%);

  @media @tablet {
    bottom: auto;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 3px;
  right: 7px;
  width: 50px;
  height: 50px;
  padding: 0;
  border: 0;
  background-color: transparent;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 11px;
    width: 28px;
    height: 4px;
    background-color: @white;
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }

  @media @tablet {
    display: none;
  }

  &--off {
    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: 50%;
      transform: translateX(-50%);
      width: 23px;
      height: 4px;
      background-color: @bg-color-button;
      box-shadow: 0 9px 0 0 @bg-color-button, 0 18px 0 0 @bg-color-button;
    }

    &::after {
      display: none;
    }
  }
}

.main-nav--no-js .main-nav__toggle {
  display: none;
}
