.main-nav__logo {
  height: 83px;
  text-align: center;
}

.main-nav__logo img {
  width: 102px;
  height: 83px;
}

.main-nav__wrapper {
  background-color: @bg-navigation;
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;
  color: #ffffff;
}

