.page-footer__wrapper {
  margin-top: 31px;
  margin-right: 84px;
  margin-bottom: 25px;
  margin-left: 84px;
  padding: 0;

  color: #000000;
}

.page-footer__hashtag {
  padding-right: 7px;
  padding-left: 7px;

  font-size: 21px;
  font-weight: bold;
}

.page-footer__copyright {
  padding-right: 11px;
  padding-left: 11px;
}

.social__list {
  .reset-list();
 }
