.search-hotel {
  margin: 0 auto;
  padding: 28px 6.25% 49px;
  text-align: center;
}

.search-hotel__title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: @font-color-heading;
}

.search-hotel__text {
  margin-top: 19px;
  line-height: 24px;
}

.search-hotel__button {
  margin-top: 35px;
}
