.section-header {
  min-width: 255px;
  min-height: 149px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (min-width: @tablet-width) {
  min-width: 490px;
  min-height: 100px;
}

.section-header__slogan {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.no-index {
  line-height: 24px;
}
