.sections-header {
  margin: 43px 32px;
  padding: 0;
  min-width: 255px;
  min-height: 149px;
}
.sections-header__slogan {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.reviews .section-header {
  margin-top: 44px;
  margin-right: 24px;
  margin-bottom: 33px;
  margin-left: 27px;

  line-height: 24px;
}

