.social-links {
  display: flex;
  justify-content: center;

  .list-reset();
}

.social-links__item {
  margin: 0 3px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 44px;
  border: 2px solid @bg-color-button;
  background-color: @bg-color-button;

  &:hover {
    border-color: @bg-color-button--hover;
    background-color: @bg-color-button--hover;
  }

  &:active {
    border-color: @bg-color-button--active;
    background-color: @bg-color-button--active;
  }

  &:focus {
    border-color: @bg-color-button--hover;
    outline: 0;
  }
}

.social-links__icon {
  fill: @white;
}

.social-links__link:active .social-links__icon {
  fill-opacity: 0.3;
}
