/* описание для border-box */
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* опишем тег body */
body {
  margin: 0;
  padding: 0;
  min-width: @mobile-width;

  font-family: @font-family-base;
  font-size: @font-size-base;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: @line-height-base;
  color: @font-color-base;

  background-color: @bg-color-body;

  @media (min-width: @tablet-width) {
    min-width: @tablet-width;
  }
  @media (min-width: @desktop-width) {
    min-width: @desktop-width;
  }
}

/* поведение картинок */
img {
  max-width: 100%;
  height: auto;
}

/* служебный класс visually-hidden*/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobile-hidden {
  display: none;

  @media @desktop {
    display: inline;
  }
}

 /* уберем подчеркивание у ссылок */
 a {
  text-decoration: none;
  color: inherit;
}

/* контейнер */
.container {
  margin: 0 auto;
  max-width: @mobile-width-container;
  background-color: @white;
  box-shadow: 0 -5px 9px 2px #ababab;

  @media (min-width: @tablet-width) {
    max-width: @tablet-width-container;
  }
  @media (min-width: @desktop-width) {
    max-width: @desktop-width-container;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
