//Template decorations
@bg-colour: #ffffff;
@bg-color-body: #f2f2f2;
@bg-color-back: #ddebf4;
@bg-navigation:#81b3d2;
@bg-advangates:#eeeeee;
@mobile-width-only: 767px;

//Template containers
@mobile-width-container: 440px;
@tablet-width-container: 648px;
@desktop-width-container: 1060px;

//Template breakpoints
@mobile-width: 480px;
@tablet-width: 768px;
@desktop-width: 1200px;
